<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=192.168.0.10, 8033;Initial Catalog=jkhd2;User ID=sa;Password=qazwsxedc"
      providerName="System.Data.SqlClient" />
    <add name="LoginConnectionString" connectionString="Data Source=192.168.0.10, 8033;Initial Catalog=aspnetdb;User ID=sa;Password=qazwsxedc"
      providerName="System.Data.SqlClient" />
    <add name="HdConnectionString" connectionString="Data Source=ykbg8.ticp.net, 8033;Initial Catalog=jkhd2;User ID=sa;Password=qazwsxedc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>