<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <mapping resource="Hd.Model.Domain.hbm.xml" assembly="Hd.Model.Base" />
    <mapping resource="Hd.Model.Domain.hbm.xml" assembly="Hd.Model.Yw" />
    <mapping resource="Hd.Model.Nmcg.Domain.hbm.xml" assembly="Hd.Model.Nmcg" />
    <mapping resource="Hd.Model.Nmcg.Domain2.hbm.xml" assembly="Hd.Model.Nmcg" />
  </session-factory>
</hibernate-configuration>