<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <mapping resource="Hd.Model.Domain.hbm.xml" assembly="Hd.Model.Base" />
    <mapping resource="Hd.Model.Ba.Domain.hbm.xml" assembly="Hd.Model.Ba" />
  </session-factory>
</hibernate-configuration>