<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nhibernateSettings" type="Feng.NH.SessionFactoriesConfigSection, Feng.NH"/>
  </configSections>
	<nhibernateSettings>
		<sessionFactories>
			<clearFactories/>
			<sessionFactory name="hd.model.base.config" factoryConfigPath="hd.model.base.config" isDefault="true"/>
			<sessionFactory name="hd.model.ba.config" factoryConfigPath="hd.model.ba.config"/>
			<sessionFactory name="hd.model.jk.config" factoryConfigPath="hd.model.jk.config"/>
			<sessionFactory name="hd.model.jk2.config" factoryConfigPath="hd.model.jk2.config"/>
			<sessionFactory name="hd.model.nmcg.config" factoryConfigPath="hd.model.nmcg.config"/>
			<sessionFactory name="hd.model.kj.config" factoryConfigPath="hd.model.kj.config"/>
			<sessionFactory name="hd.model.cn.config" factoryConfigPath="hd.model.cn.config"/>
			<sessionFactory name="hd.model.fp.config" factoryConfigPath="hd.model.fp.config"/>
			<sessionFactory name="hd.model.cx.config" factoryConfigPath="hd.model.cx.config"/>
			<sessionFactory name="hd.model.ck.config" factoryConfigPath="hd.model.ck.config"/>
			<sessionFactory name="hd.model.ky.config" factoryConfigPath="hd.model.ky.config"/>
			<sessionFactory name="hd.model.px.config" factoryConfigPath="hd.model.px.config"/>
		</sessionFactories>
	</nhibernateSettings>
</configuration>